*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  margin-top: 30%;
  display: block;
}
.mainContainer {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#8ddcfd, #f16aee);
}


.mainContainer>* {
  margin: 0 15px;
}

.mainContainer>button {
  width: 100px;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  height: 50px;
  background-color: white;
  color: black;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.mainContainer>p {
  font-weight: 600;
  font-size: 20px;
}
.mainContainer1 {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#fdd98d, #f14242);
}


.mainContainer1>* {
  margin: 0 15px;
}

.mainContainer1>button {
  width: 100px;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  height: 50px;
  background-color: white;
  color: black;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.mainContainer1>p {
  font-weight: 600;
  font-size: 20px;
}